@import "tailwindcss";

:root {
  --slate: #f8fafb;
  --accent: #0000ff;
  --border: #eceef6;
  --text: #333333;
  --error: #ff0000;
  --success: #008000;
  --check: #388e3c;
  --lightcheck: #66bb6a;
  --wrong: #d32f2f;
  --lightwrong: #f44336;
  --bluetext: #4f73df;
  --highlight: #1877d1;
}

@utility container {
  @apply w-full bg-white rounded-md border-2 border-[var(--border)] text-[var(--text)] p-4;
}

@utility card {
  @apply flex-1 rounded-md bg-white border-2 border-[var(--border)] text-[var(--text)] p-4;
}

@theme inline {
  --color-red: var(--wrong);
  --color-highlight: var(--highlight);
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Arimo", sans-serif !important;
}

.react-calendar__navigation {
  margin-bottom: 0px !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: 500 !important;
}

.react-calendar__tile {
  padding: 7px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #dbeafe !important;
  color: #0000ff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td:nth-child(odd) {
  background-color: #eceef6;
  font-weight: 700;
  text-align: right;
}

td:nth-child(even) {
  text-align: left;
  place-content: start;
}

th,
td {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 15px;
}
