@import "tailwindcss";

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Arimo", sans-serif !important;
}

.react-calendar__navigation {
  margin-bottom: 0px !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: 500 !important;
}

.react-calendar__tile {
  padding: 7px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #dbeafe !important;
  color: #0000ff !important;
}
